<div>
    <div ng-show="products.length > 0">
        <h1>Produtos</h1>
        <h2><a href="#/product/new">&nbsp;Cadastrar Produto</a></h2>
        <table>
            <thead>
                <th>#&nbsp;</th>
                <th>Nome&nbsp;</th>
                <th>Descrição&nbsp;</th>
                <th>Preço&nbsp;</th>
                <th>Categoria&nbsp;</th>
                <th>Ação&nbsp;</th>
            </thead>
            <tbody>
                <tr ng-repeat="data in products track by $index">
                    <td>{{data.productNumber}}</td>
                    <td>{{data.productName}}</td>
                    <td>{{data.productDescription}}</td>
                    <td>R$ {{data.productPrice}}</td>
                    <td>{{data.categoryName}}</td>
                    <td>
                        <a href="#/product/edit/{{data.productNumber}}">&nbsp; Editar Produto</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div ng-show="products.length == 0">
        <div>
            <h4>Nenhum produto cadastrado.</h4>
        </div>
    </div>
</div>